@import '../../styles/colors.scss';

.user-card {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid $clr-background-light;
  display: flex;
  align-items: center;

  &.active {
    background-color: $clr-blue;
  }

  &__image {
    display: block;
    height: 30px;
    width: 30px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 50%;
  }

  &__username {
    font-size: 15px;
    height: 1em;
    margin-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}