$clr-background-dark: #252838;
$clr-background-dark-hover: #3F4354;
$clr-background-light: #343A4F;
$clr-light: #E2E2E4;
$clr-username: #b5b5b7;
$clr-background-contrast: #7E89B1;
$clr-blue: #3369F3;
$clr-grey: #9898B0;
$clr-error: #F44D4D;
$clr-background-message: #4C546F;